# Requirements, taken from jupyterlite/demo
# last change: 01 March 2024, fixes https://github.com/jupyterlite/demo/issues/138
# Core modules (mandatory)
jupyterlite-core==0.2.3
jupyterlab~=4.0.11
notebook~=7.0.7 # for simpler notebook interface

# Python kernel: Pyodide (may migrate to xeus-python in future)
jupyterlite-pyodide-kernel==0.2.3

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# JupyterLab: dark theme
jupyterlab-night

# Python: ipywidget library for Jupyter notebooks
ipywidgets>=8.1.1,<9
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2
