# Requirements udjusted from jupyterlite/demo (last update: 14 sept 2023)
# Core modules (mandatory)
jupyterlite-core==0.1.2
jupyterlab~=3.6.5

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.0.11

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# JupyterLab: dark theme
jupyterlab-night

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.0.0,<9
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2
